<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299870954904-kf33i3komfq4l516cjnksh1npba37215.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299870954904-kf33i3komfq4l516cjnksh1npba37215</string>
	<key>API_KEY</key>
	<string>AIzaSyDX3OXYNrfuuKWvsY8Z4sSj7hjudUTW7bg</string>
	<key>GCM_SENDER_ID</key>
	<string>299870954904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.earthquakeApp</string>
	<key>PROJECT_ID</key>
	<string>earthquake-app-6afbf</string>
	<key>STORAGE_BUCKET</key>
	<string>earthquake-app-6afbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299870954904:ios:cfb3b26bd63e29cfbbf7ed</string>
</dict>
</plist>